---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Solutions from "../components/Solutions.astro";
import Mission from "../components/Mission.astro";
import Clients from "../components/Clients.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
	<main>
		<Hero />
		<Services />
		<Solutions />
		<Mission />
		<Clients />
		<Contact />
	</main>
</Layout>
