---
import Layout from "../../layouts/Layout.astro";
import Services from "../../components/Services.astro";
---

<Layout>
    <div class="services-page-wrapper">
        <Services />
    </div>
</Layout>

<style>
    .services-page-wrapper {
        padding-top: 80px;
        min-height: 100vh;
        background: var(--color-bg);
    }
</style>
